/* Determining font size to be able to make a all resizable web page */
html {
  font-family: Helvetica;
  font-size: 18px;
}

/* Container is the class that limits the width of the content that is shown on page and it's always in the center of the screen */
.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
}

/* Title is flex to center the content vertically */
.title {
  display: flex;
  padding: 0.66rem 0;
}

.title img {
  height: 1.5rem;
  padding: 0 1rem 0 0.5rem;
}

/* Making the h2 all uppercase and centering it vertically */
.title h2 {
  align-self: center;
  text-transform: uppercase;
  font-size: 1rem;
}

/* Banner covers all it's container and its height is fixed */
.banner {
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Text on the banner is positioned absolute to give it an exact position in its container */
.banner_text {
  position: absolute;
  margin-top: 9rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem 2rem 3rem;
  font-size: 1rem;
}

.banner_text h1 {
  font-size: 2rem;
  margin-top: 0.25rem;
}

nav {
  background-color: firebrick;
  color: white;
}

/* Menu items are flex items and they are distributed on the vertical line with same space between them */
nav ul {
  display: flex;
  justify-content: space-between;
}

/* Making list content inline-block to make them listed side by side */
nav li {
  display: inline-block;
  line-height: 3.5rem;
}

/* Main part is displayed flex so we can make resizable items in it */
.main {
  display: flex;
  margin-top: 3em;
  justify-content: space-between;
}

/* In each item the image and text should be shown as a single column, therefore flex-direction is column */
/* As direction crossed justify-content is used to make all content go down */
.item {
  align-items: center;
  width: 30%;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* As flex items the images are centerd in all directions */
.item_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9rem;
  padding: 2rem;
}

.item_image img {
  max-width: 8em;
}

.item_description {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  padding: 0.5rem 0;
}

/* Contact info is seperated on each side of the container */
.contact {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}

.location, .hours {
  width: 35%;
}

.location h3 , .hours h3 {
  background-color: black;
  color: white;
  padding: 1rem 0rem 1rem 2rem;
}

footer {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  height: 5rem;
  margin-top: 4rem;
}
